<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>studentmanagementsystem</title>
</head>
<body>
    <header>
        <h1>Student Management System</h1>
    </header>

    <div class="navbarcontainer">
        <nav>
            <a href="/api/nav/addStudent">Add Student Info</a>
            <a href="/api/nav/viewInfo">View Student Info</a>
            <a href="/api/nav/updateStudent">Update Student Info</a>
            <a href="/api/nav/deleteStudent">Delete Student Info</a>
        </nav>
    </div>
    <div class="heading">
        <h2>WelCome to the Student Management System!</h2>
    </div>
    <div class="formcontainer">
        <form>
        <button><a href="/api/nav/viewInfo" target="_blank">View Student Info</a></button><br><br>
        <button><a href="/api/nav/addStudent" target="_blank">Add Student Info</a></button><br><br>
        <button><a href="/api/nav/updateStudent" target="_blank">Update Student Info</a></button><br><br>
        <button><a href="/api/nav/deleteStudent" target="_blank">Delete Student Info</a></button><br><br>
    </form>
    </div>
</body>
</html>